@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "style.css";

:root {
    --background: #23A89E;
    --accent: #FADFDE;
    --font1: 'Oswald', sans-serif;
    --font2: 'Lato', sans-serif;
    --transition: all 0.7 ease;
}

/* CSS-reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* bakgrundsfärg */
body {
    background-color: var(--background);
    line-height: 1.5;
    font-family: var(--font2);
}

header {
    margin: 5vh;
    padding: 5vh;
}

/* book now button */
.btn {
    flex: auto;
    /* font-size: 16px; */
    border-style: solid;
    border-radius: 20px;
    padding: 10px 20px;
    width: 25%;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
    color: var(--accent);
    background-color: var(--background);
}

/* hover effect on button */
.btn:hover {    
    color: var(--background);
    background-color: var(--accent);
}

h1 {
    color: var(--accent);
    text-align: center;
    font-family: var(--font2);
    font-size: 8rem;
}

h2 {
    color: var(--accent);
    text-align: center;
    font-family: var(--font2);
    font-size: 4rem;
}

h3 {
    color: var(--accent);
    text-align: left;
    font-family: var(--font2);
    font-size: 3rem;
}

img {
    width: 100%;
    display: block;
}

/* room */
.sec-width {
    width: 85vw;
    margin: 0 auto!important;
}

.rooms {
    margin: 40px 0;
}

/* info text for rooms */
.room {
    margin: 45px 0;
    padding-bottom: 25px;
    color: var(--accent);
}

.room-text{
    padding: 5px 20px;
}

/* room info list */
.room-text ul{
    list-style-type: none;   
    margin: 15px 0;
}

/* space between info list */
.room-text ul li{
    padding: 7px 0;
}

/*  */
.room-text ul li p{
    font-size: 1.5rem;
    margin-right: 10px;
}

/* price tags */
.rate{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 900;
    color: var(--accent);
}

/* hides overflow when scaling image */
.room-image{
    overflow: hidden;
}

.room-image img{
    transition: var(--transition);
}

/* scales image when cursor hoverr */
.room-image:hover img{
    transform: scale(1.1);
}

/* for small screens */
@media(max-width: 960px){

    header {
        margin: 2vh;
        padding: 2vh;
    }

    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }

    /* book now button */
.btn {
    flex: auto;
    font-size: 16px;
    text-transform: uppercase;
    border-color: var(--accent);
    border-style: solid;
    border-radius: 20px;
    padding: 10px 20px;
    width: 30%;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    transition: var(--transition);
    color: var(--accent);
    background-color: var(--background);
}

/* hover effect on button */
.btn:hover {    
    color: var(--background);
    background-color: var(--accent);
}
}

/*  for medium screens */
@media (min-width: 960px){
    .rooms-container{
        display: flex;
        flex-wrap: wrap;
    }
    .room{
        flex: 0 0 calc(50% - 20px);
        margin: 10px;
    }

    .btn{
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        border-color: var(--accent);
        border-style: double;
        border-radius: 20px;
        padding: 10px 20px;
        width: 20%;
        display: block;
        margin: 15px auto;
        cursor: pointer;
        transition: var(--transition);
        color: var(--accent);
        background-color: var(--background);
    }
    
    .btn:hover{    
        color: var(--background);
        background-color: var(--accent);
    }
}

/* for large screens */
@media(min-width: 1370px){
    .rooms-container{
        flex-direction: column;
    }
    .room{
        display: flex;
        padding-bottom: 0;
        margin: 5px 0;
    }
    .room-image{
        flex: 1;
    }
    .room-image img{
        height: 100%;
    }
    .room-text{
        flex: 1;
    }
    /* mirrors images and text */
    .room:nth-child(even){
        flex-direction: row-reverse;
    }
}