@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    --background: #23A89E;
    --accent: #FADFDE;
    --font1: 'Oswald', sans-serif;
    --font2: 'Lato', sans-serif;
    /* box-sizing: border-box;  */
}

/* CSS-reset */
* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;    
}

/* bodys background and margin */
body {
    background-color: var(--background);
    margin-left: 10vh;
    margin-right: 10vh;
}

/* menubar ---------------------------------------------------- */

/* menu bars color and size etc */
.navbar {
    background: var(--background);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* menu container position */
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/* logo text */
#navbar_logo {
    color: var(--accent);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 2rem;
}

/* logo */
.fa-mountain-sun {
    margin-right: 0.5rem;
}

/* menubar direction */
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* home rooms contacts */
.navbar_item {
    height: 80px; 
    font-family: var(--font2);   
}

/* knapparnas utseende */
.navbar_links {
    color: var(--accent);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

/* to top button position */
.navbar_button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

/* to top button design */
#myBtn {
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border-color: var(--accent);
    border-style: solid;
    outline: none;
    border-radius: 10px;
    background: var(--background);
    color: var(--accent);  
    font-family: var(--font2); 
    cursor: pointer;
    /* transition: all 0.7s ease;         */
    /* validerings  fel :0.7s är inte ett transition-värde : all 0.7 ease  */
}

/* to top button changes color when cursor hovers */
#myBtn:hover{    
    color: var(--background);
    background-color: var(--accent);
    /* transition: all 0.3s ease; */
} 

/* menubar items changes color when cursor hovers */
.navbar_links:hover {    
    background: var(--accent);
    color: var(--background);
    transition: all 0.3s ease;   
}

/* menubar end--------------------------------------------------- */

/* Hero section CSS-----------------------------------------------*/

/* .main {
    background-color: var(--background);
} */

 /* Container holding the image and the text */
 .main_container {
    position: relative;
    text-align: center;
  }  
  
  /* Centered text */
  .centered_h1 { 
    background-color: var(--background);
    color: var(--accent);
    /* color: black; */
    /* mix-blend-mode: screen; */
    position: absolute;
    width: 90vh;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: var(--font2);   
    font-size: 5rem;    
  } 

.main_img--container {
    text-align: center;
}

.main_img {    
    width: 100%;    
}

/* hero section end---------------------------------------------- */


/* Article 1 sektion ---------------------------------------------*/

.article_1{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    /* border: solid; */
}

.article_1_h2 {
    color: var(--accent);
    font-size: 3rem;
    font-family: var(--font2);
    margin-bottom: 2%;
}

.article_1_h3 {
    text-transform: uppercase; 
    color: var(--accent);
    font-size: 1.5rem;
    font-family: var(--font2);
    margin-bottom: 2%;
    
  }

.article_1_p {
    text-align: center;
    color: var(--accent);
    font-size: 1.8em;
    font-family: var(--font2);
    /* max-width: 60ch; */
    line-height: 1.5em;
    margin-bottom: 10%;
}

/* article 1 end------------------------------------------------ */

/* Image row section -------------------------------------------- */

.column {
    float: left;
    width: 25%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* image row section ------------------------------------------ */

  /* Article 2 section -------------------------------------------*/

  .article_2_h3 {
    text-align: center;
    /* transform: translate(-50% -50%);    får validerings fel:   är en ogiltig operator : translate(-50% -50%)  */
    color: var(--accent);
    font-size: 3rem;
    font-family: var(--font2);
    /* margin: auto; */
    margin-top: 5%;
}

  .article_2{
    /* display: block;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto;
    height: 80vh;
    /* background-color:red; */
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.article_2_h4 {
    /* text-align: center;
    transform: translate(-50% -50%); */
    color: var(--accent);
    font-size: 2rem;
    font-family: var(--font2);
    /* margin: auto; */
    margin-top: 20%;
    margin-bottom: 5%;
}

.article_2_p {
    /* text-align: center; */
    color: var(--accent);
    font-size: 1.2em;
    font-weight: 300;
    font-family: var(--font2);
    /* max-width: 60ch; */
    line-height: 1.2em;
    margin-bottom: 10%;
    margin-right: 10%;
}

.video {
    padding-top: 100px;
    width: 100%;
}

/* Footer--------------------------------------------------------*/

.footer_container {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer_logo {
    color: var(--accent);
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-family: var(--font1);
    font-size: 2rem;
}

.social_icon-link {
    color: var(--accent);
    font-size: 24px;
}

.social_media {
    max-width: 1000px;
    width: 100%;
}

.social_media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social_logo {
    color: var(--accent);
    justify-content: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 16px;
}

.website_rights {
    color: var(--accent);
}

/* phone */
@media screen and (max-width: 960px) {

    /* bodys background and margin */
    body {
        margin-left: 0;
        margin-right: 0;
    }

    /* menu bar------------------------------------------------- */

    /* menu container position */
    .navbar_container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;        
    }
    
    /* menubar direction */
    .navbar_menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
    }

    /*  */
    .navbar_menu.active {
        background: var(--background);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 10vh;
        font-size: 1.6rem;
    }

    /* logo position */
    #navbar_logo {
        padding-left: 25px;
    }

    /* menu button */
    .navbar_toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--accent);
    }

    /* Home, Rooms och Contacts */
    .navbar_links {
        text-align: center;
        padding: 2rem;
        margin-left: -2rem;
        width: 100%;
        display: table;
    }

    /* menu lines position */
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);        
    }

    /* hides to top button */
    .navbar_button {
        display: none;
    }

    /*  */
    .navbar_toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* transforms menu lines to x */

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* menu bar end----------------------------------------------- */

    /* Hero section---------------------------------------------- */
    
    /* Container holding the image and the text */
    .main_container {
        position: relative;
        text-align: center;
    }  
  
    /* Centered text */
    .centered_h1 { 
        width: 30vh;
        font-size: 1.5rem;    
    }  
    
    /* Hero section end------------------------------------------ */

    /* Article 1 sektion ---------------------------------------------*/

.article_1{
    padding-top: 10px;
}

.article_1_h2 {
    font-size: 1.2rem;
    margin-bottom: 2%;
}

.article_1_h3 {
    font-size: 0.8rem;
    
  }

.article_1_p {
    font-size: 0.6rem;
    line-height: 1.5em;
    margin-bottom: 5%;
}

/* article 1 end------------------------------------------------ */

/* Image row section -------------------------------------------- */

.column {
    width: 50%;
}

  /* image row section ------------------------------------------ */

  /* Article 2 section -------------------------------------------*/

  
  .article_2{
    display: table-cell;
    height: 60vh;
}

.article_2_h4 {
    text-align: center;
    transform: translate(-50% -50%);    
    font-size: 1rem;
    margin-bottom: 10%;
}
.article_2_p {
    font-size: 0.8em;
    width: 100%;
    line-height: 1.2em;
    margin: 5%;
}

.video {
    padding: 10px;
    margin-bottom: 50px;
}

/* Footer--------------------------------------------------------*/
.footer_container {
    padding: 2rem 0;
}

#footer_logo {
    font-size: 1rem;
}

.social_icon-link {
    font-size: 15px;
}

.social_media-wrap {
    margin: 10px auto 0 auto;
}

.social_icons {
    width: 140px;
}

.website_rights {
    font-size: 0.5rem;
}

/* footer end --------------------------------------------------- */

}

/* mobile settings end ------------------------------------------- */